/* navbar */
.navbar {
    text-align: center;
}

.navbar .navbar-green-icon {
    color: #77C277;
}

.navbar .navbar-button {
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    background: none;
}

.navbar .navbar-button:hover {
    background-color: #D8E6F2;
    border-width: 1px;
    border-style: solid;
    border-color: #C0DCF3;
}

.navbar .navbar-selected {
    background-color: #C0DCF3;
    border-width: 1px;
    border-style: solid;
    border-color: #90C8F6;
}


/* Set Comic Sans font and background color on the body */
body {
    background-color: #F0F0F0;
    font-family: "Comic Sans MS";
    font-size: 1.3em;
    color: #212121;
}


/* Patch to show the parent font on buttons too */
button {
    font-family: inherit;
    font-size: 1em;
}


/* Improve the links */
a:link,
a:visited {
    color: black;
    text-decoration: underline;
}

a:hover,
a:active {
    color: #77C277;
    text-decoration: underline;
}


/* Selection customization™ */
::selection {
    color: #77C277;
    background-color: #F0F0F0;
}


/* Enable codeblocks in case the browser doesn't support them */
code {
    font-family: monospace;
}


/* Set 10% margin on left and right for the main div */
.main {
    margin-left: 10%;
    margin-right: 10%;
}